.header {
 background-color:#FFA500
}
.nav .nav-item.active a {
 background-color:#2fb52f
}
.searchbar .searchbar-inner {
 background-color:#a46b14
}
.lang-active>a {
 background-color:#3b693b
}
.lang-active>a:hover {
 color:#fff
}
.breadcrumb.bm a {
 color:#2fb52f
}
.footer {
 background-color:#0b310b
}
a:hover,
a:focus {
 color:#2c611c
}
a {
 color:#3A7F25
}
.label-primary {
 background-color:#2fb52f
}
.blockList-cal-num.active {
 background:#090
}
.page-nav a {
 background-color:#7ec37e
}
#broadcast-trade-text:focus {
 border-color:#2fb52f
}
.btn-primary {
 color:#fff;
 background-color:#2fb52f;
 border-color:#1ea71e
}
.btn-primary:hover {
 color:#fff;
 background-color:#2b962b;
 border-color:#259625
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
 background-color:#2fb52f;
 border-color:#2fb52f
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open>.dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open>.dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open>.dropdown-toggle.btn-primary.focus {
 background-color:#2fb52f;
 border-color:#2fb52f
}
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
 background-color:#2fb52f;
 border-color:#2fb52f
}
.trade-note-text:focus {
 border-color:#2fb52f
}
.pool-panel-interval li.active a {
 background:#2fb52f;
 color:#fff
}
.sort .sort-content>ul .active>a {
 color:#000!important
}
.address-nav>li>a {
 color:#2fb52f!important
}
.cal-month-bar-fg {
 background:#2fb52f
}
.address-exchange {
 background-image:url(https://s.btc.com/explorer/bch/assets/images/exchange_green_df67e45.svg)!important
}
.address-link {
 background-image:url(https://s.btc.com/explorer/bch/assets/images/link_green_ea6c491.svg)!important
}
.address-chart {
 background-image:url(https://s.btc.com/explorer/bch/assets/images/chart_green_60251f9.svg)!important
}
.address-export {
 background-image:url(https://s.btc.com/explorer/bch/assets/images/export_green_c8f9773.svg)!important
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
 background-color:#090;
 border-color:#090
}
.pagination>li>a,
.pagination>li>span {
 color:#090
}
.cal .q0 {
 fill:#f3f4f7
}
.cal .q1 {
 fill:#D6F0DA
}
.cal .q2 {
 fill:#b9edb9
}
.cal .q3 {
 fill:#96d798
}
.cal .q4 {
 fill:#7eca80
}
.cal .q5 {
 fill:#66bb6a
}
.cal .q6 {
 fill:#66bb6a
}
.cal .q7 {
 fill:#43a047
}
.cal .q8 {
 fill:#388e3c
}
.cal .q9 {
 fill:#2e7d32
}
.cal .q10 {
 fill:#1b5e20
}
