geoip/COPYRIGHT.txt
geoip/GeoLite2-ASN.mmdb
geoip/GeoLite2-City.mmdb
geoip/GeoLite2-Country.mmdb
geoip/LICENSE.txt
geoip/README.txt


*.py[cod]

#Cextensions
*.so

#Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

#Installerlogs
pip-log.txt

#Unittest/coveragereports
.coverage
.tox
nosetests.xml

#Translations
*.mo

#MrDeveloper
.mr.developer.cfg
.project
.pydevproject

#vim
*.swp

#virtualenv
env
