# sudo pip3 install -r requirements.txt -i http://mirrors.aliyun.com/pypi/simple --trusted-host mirrors.aliyun.com
flask
fluent-logger
gunicorn
requests
WTForms
#supervisor
#arrow
PyMySQL
SQLAlchemy
geoip2
PySocks
pymongo
python-bitcoinrpc
