{% extends "base.html" %}

{% block body %}

<div class="container">
  <br>
  <div class="row">
    <ol class="breadcrumb bm">
      <li><a href="{{ url_for('lbtc_index') }}">首页</a></li>
      <li>地址- {{ address_info["address"] }} </li> 
    </ol>
  </div>

  <div class="row">
    <div class="panel panel-bm txAbstract">
      <div class="panel-heading">
        <div class="panel-heading-title">概要</div>
      </div>
      <div class="panel-body text-center">
        <div class="abstract-inner txAbstract-inner">
          <div class="abstract-section">
            <dl>
              <dt>地址</dt>
              <dd>
                {{ address_info["address"] }}
              </dd>
            </dl>
            <dl>
              <dt>余额 </dt>
              <dd>
                {{ address_info["balance"] }}
              </dd>
            </dl>
          </div>
          
          <div class="abstract-section">
            <dl>
              <dt>交易数量</dt>
              <dd> {{ address_info["transaction_num"] }} LBTC </dd>
            </dl>
            <dl>
              <dt>第一次交易时间</dt>
              <dd> {{ address_info["create_time"] }} LBTC </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>


        {% for tx_info in address_info["tx_info"] %}
        {% include "tx_detail.html" %}
        {% endfor %}
    
  </div>
</div>
{% endblock %}
