{% extends "base.html" %}

{% block body %}

<div class="container">
  <br>
  <div class="row">
    <ol class="breadcrumb bm">
      <li><a href="{{ url_for('lbtc_index') }}">首页</a></li>
      <li>地址- {{ address_info["address"] }} </li> 
    </ol>
  </div>

  <div class="row">
    {% if current_page == 1 %}
    <div class="panel panel-bm txAbstract">
      <div class="panel-heading">
        <div class="panel-heading-title">概要</div>
      </div>
      <div class="panel-body text-center">
        <div class="abstract-inner txAbstract-inner">
          <div class="abstract-section">
            <dl>
              <dt>地址</dt>
              <dd>
                {{ address_info["address"] }}
                <a href="javascript:" class="icon-address-qr" style="margin-left: 10px;"></a>
              </dd>
            </dl>
            <dl>
              <dt>余额 </dt>
              <dd>
                {{ address_info["balance"] }} LBTC
              </dd>
            </dl>
            <dl>
              <dt>总接收量</dt>
              <dd>
                {{ address_info["receive"] }} LBTC
              </dd>
            </dl>
          </div>
          
          <div class="abstract-section">
            <dl>
              <dt>交易数量</dt>
              <dd> {{ address_info["transaction_num"] }} </dd>
            </dl>
            <dl>
              <dt>第一次交易时间</dt>
              <dd> {{ address_info["create_time"] }} </dd>
            </dl>
            <dl>
              <dt>总发送量</dt>
              <dd>
                {{ address_info["send"] }} LBTC
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {% for tx_info in address_info["tx_info"] %}
    {% include "tx_detail.html" %}
    {% endfor %}

    <div class="row">
      <div class="col-md-5">
        <ul class="pagination">
          {% if min_page - 2 <= 1 %}
                                {% set min_page = 1 %}
                                {% endif %}
                                {% if max_page + 2 >= total_page %}
            {% set max_page = total_page %}
            {% endif %}

            {% if min_page != 1 %}
	    <li class=""><a href="{{ url_for('lbtc_address', address=address, page=1) }}"><span>1</span></a></li>
	    <li><span>...</span></li>
	    {% endif %}
	    {% for i in range(min_page, max_page + 1) %}
            {% if i == current_page %}
            <li class="active"><a href="{{ url_for('lbtc_address', address=address, page=current_page) }}"><span>{{ i }}</span></a></li>
            {% else %}
	    <li><a href="{{ url_for('lbtc_address', address=address, page=i) }}"><span>{{ i }}</span></a></li>
            {% endif %}
	    {% endfor %}

            {% if max_page != total_page %}
	    <li><span>...</span></li>
	    <li class=""><a href="{{ url_for('lbtc_address', address=address, page=total_page) }}"><span>{{ total_page }}</span></a></li>
	    {% endif %}
        </ul>
      </div>

      <div class="col-md-1" style="margin-top: 20px" >
        <form method="GET" action="{{ url_for('lbtc_address', address=address, page=current_page-1) }}">
	  <div class="form-group">
            <input type="hidden" id='jump_page_next' name="page" value="{{ current_page_up }}" />
            <input type="hidden" id='jump_page_next_address' name="address" value="{{ address }}" />
	    <button class="btn btn-primary" id="current_page_up_button" {% if current_page_up == 0 %} disabled="disabled" {% endif %} >上一页</button>
	  </div>
        </form>
      </div>
      <div class="col-md-1" style="margin-top: 20px" >
        <form method="GET" action="{{ url_for('lbtc_address', address=address, page=current_page+1) }}">
	  <div class="form-group">
            <input type="hidden" id='jump_page_next' name="page" value="{{ current_page_next }}" />
            <input type="hidden" id='jump_page_next_address' name="address" value="{{ address }}" />
	    <button class="btn btn-primary" id="current_page_next_button" {% if current_page_next == 0 %} disabled="disabled" {% endif %} >下一页</button>
	  </div>
        </form>
      </div>
    </div>

    
  </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function(){
    $(".icon-address-qr").popover(
        {container:"body",
         content:'<div id="address_qr" style="width: 155px; height: 155px;"></div>',
         html:!0,
         placement:"bottom",
         trigger:"hover",
         template:'<div class="popover" role="tooltip"> \
                     <div class="arrow"> \
                     </div> \
                     <h3 class="popover-title"></h3> \
                     <div class="popover-content"> \
                     </div> \
                   </div>'}),
    $(".icon-address-qr").on("shown.bs.popover",
                             function(){
                                 new QRCode(document.getElementById("address_qr"),
                                            {text: {{ address|tojson }},
                                             width:155,
                                             height:155,
                                             colorDark:"#000000",
                                             colorLight:"#ffffff",
                                             correctLevel:QRCode.CorrectLevel.M})})
});
</script>
{% endblock %}
