{% extends "base.html" %}

{% block body %}


<div class="main-body">
  <div class="container">

    <div class="row">
      <div class="panel panel-bm indexBlockList">
        <div class="panel-heading">
          <div class="panel-heading-title">最近出块</div>
        </div>
        <div class="panel-body">

          <table class="table">
            <tr id="append">
              <th class="text-right">高度</th>
              <th class="text-center">播报方</th>
              <th class="text-right">大小(B)</th>
              <th class="text-center">块收益</th>
              <th class="text-right">时间</th>
              <th class="text-center">块哈希</th>
            </tr>
            {% for block_info in lbtc_info['block_info'] %}
            <tr>
              <td class="text-right" >
                <a href="{{ url_for('lbtc_block', height=block_info['height']) }}"> {{ block_info["height"] }} </a>
              </td>
              <td class="text-right">
                <div class="cell-poolname">
                  <a href="{{ url_for('lbtc_address', address=block_info['delegate_address']) }}" > {{ block_info["miner"] }}</a>
                </div>
              </td>
              <td class="text-right">
                <span data-toggle="tooltip" title="stripped size"> {{ block_info["size"] }}</span>
              </td>
              <td class="text-center indexBlockList-blockAward">
                {{ block_info["award"] }} LBTC
              </td>
              <td class="text-right indexBlockList-blockTimestamp" data-timestamp="1553585645">
                {{ block_info["time"] }}
              </td>
              <td class="text-center indexBlockList-blockhash">
                <a href="{{ url_for('lbtc_block', block_hash=block_info['hash']) }}">
                  {{ block_info["hash"] }}
                </a>
              </td>
            </tr>
            {% endfor %}            
          </table>
        </div>
      </div>
    </div>


    
    <div class="row">
      <div class="col-xs-6" style="padding-left: 0; padding-right: 10px;">
        <div class="panel panel-bm indexNetworkStats">
          <div class="panel-heading">
            <div class="panel-heading-corner">
            </div>
            <div class="panel-heading-title"> 节点状态 </div>
          </div>

          <div class="panel-body">
            <div class="pool-panel pool-panel-share">
              <ul data-toggle="tooltip" class="unconfirmed-txs-popover">
                <li>
                  <dl>
                    <dt>
                      <a style="display: block;float: left" href="{{ url_for('lbtc_nodes') }}">节点数</a>
                    </dt>
                    <dd>{{ lbtc_info["delegate_count"] }} </dd>
                  </dl>
                </li>
              </ul>

              <div class="panel-heading">
                <div class="panel-heading-title">节点分布(TOP7)</div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <th class="text-left">排名</th>
                    <th class="text-center">地区</th>
                    <th class="text-right">节点数</th>
                  </tr>
                  {% for distribution_info in lbtc_info['node_distribution'] %}
                  <tr>
                    <td class="text-left" >
                      {{ distribution_info["rank"] }}
                    </td>
                    <td class="text-center">
                      <a href="{{ url_for('lbtc_nodes', type=3, country=distribution_info['country']) }}"> {{ distribution_info["country"] }} </a>
                    </td>
                    <td class="text-right">
                      {{ distribution_info["node_num"] }}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-xs-6" style="padding-left: 10; padding-right: 0px;">
        <div class="panel panel-bm indexNetworkStats">
          <div class="panel-heading">
            <div class="panel-heading-corner">
            </div>
            <div class="panel-heading-title"> 网络状态 </div>
          </div>

          <div class="panel-body">
            <div class="pool-panel pool-panel-share">
              
              <ul data-toggle="tooltip" class="unconfirmed-txs-popover">
                <li>
                  <dl>
                    <dt>总账户数</dt>
                    <dd>{{ lbtc_info["address_count"] }} </dd>
                  </dl>
                </li>
              </ul>

              <ul>
                <li>
                  <dl>
                    <dt> 未确认交易数 </dt>
                    <dd class="unconfirmed-tx">
                      <div class="unconfirmed-tx-item">
                        <span class="tx-count">{{ lbtc_info["unconfirmed_tx_num"] }}</span>
                      </div>
                    </dd>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt>24 小时交易速率</dt>
                    <dd>{{ lbtc_info["average_tx_speed"] }} 交易/秒</dd>
                  </dl>
                </li>
                
                <li>
                  <dl>
                    <dt>24 小时交易数(不含coinbase)</dt>
                    <dd>{{ lbtc_info["tx_count"] }} 交易/秒</dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>近两周平均手续费</dt>
                    <dd>{{ lbtc_info["average_tx_cost"] }} LBTC</dd>
                  </dl>
                </li>
              </ul>
              <ul>
                <li>
                  <dl>
                    <dt> 近两周平均区块体积 </dt>
                    <dd>{{ lbtc_info["average_block_size"] }} Bytes</dd>
                  </dl>
                </li>
              </ul>

            </div>
          </div>

        </div>
      </div>

    </div>
    
  </div>
</div>

{% endblock %}
