{% extends "base.html" %}

{% block body %}

<div class="container">
  <br>
  <div class="row">
    <ol class="breadcrumb bm">
      <li><a href="{{ url_for('lbtc_index') }}">首页</a></li>
      <li>
        <a href="{{ url_for('lbtc_block', height=tx_info['height']) }}" ga-type="block">
          块 - {{ tx_info["height"] }}
        </a>
      </li>
      <li>交易 {{ tx_info["hash"] }} </li> 
    </ol>
  </div>

  <div class="row">
    <div class="panel panel-bm txAbstract">
      <div class="panel-heading">
        <div class="panel-heading-title">概要</div>
      </div>
      <div class="panel-body text-center">
        <div class="abstract-inner txAbstract-inner">
          <div class="abstract-section">
            <dl>
              <dt>块高度</dt>
              <dd>
                <a href="{{ url_for('lbtc_block', height=tx_info['height']) }}" ga-type="block">{{ tx_info["height"] }}</a>
              </dd>
            </dl>
            <dl>
              <dt>确认数 </dt>
              <dd>
                {{ tx_info["confirm_num"] }}
              </dd>
            </dl>
            <dl>
              <dt>出块时间</dt>
              <dd class="-btc-time-localization">
                {{ tx_info["time"] }}
              </dd>
            </dl>
            <dl>
              <dt> 大小 </dt>
              <dd> {{ tx_info["size"] }}<span class="text-muted"> Bytes</span></dd>
            </dl>
          </div>
          
          <div class="abstract-section">
            <dl>
              <dt>输入</dt>
              <dd> {{ tx_info["lbtc_input"] }} LBTC </dd>
            </dl>
            <dl>
              <dt>输出</dt>
              <dd> {{ tx_info["lbtc_output"] }} LBTC </dd>
            </dl>
            <dl>
              <dt>矿工费</dt>
              <dd> {{ tx_info["fee"] }} LBTC </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    {% include "tx_detail.html" %}
    
  </div>
</div>
{% endblock %}
