<!doctype html>
<html lang="zh-cn">
  <head>
    <title>note</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_df449dfef3c0.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap_deadc0b.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lbtc_theme_nav.css') }}"/>

    <script src="{{ url_for('static', filename='js/qrcode.min_1dc0697.js') }}"></script>
    <script src="https://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class="row">
          <nav class="nav">
            <ul>
            </ul>
          </nav>

        </div>
      </div>
    </header>

    {% with messages = get_flashed_messages(category_filter=['success']) %}
    {% if messages %}
    <div class="alert alert-success" role="alert">
      <ul>
        {% for message in messages %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <li style="text-align: center;font-size:17px">{{ message }}</li>
        {% endfor %}
      </ul>
      
    </div>
    {% endif %}
    {% endwith %}


    {% with messages = get_flashed_messages(category_filter=['error']) %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
      <ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {% for message in messages %}
        <li style="text-align: center;font-size:17px">{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}


    {% block js %}
    {% endblock %}
  </body>
</html>
