{% extends "cn/base.html" %}

{% block body %}

<div class="container">
  <br>
  <div class="row">
    <ol class="breadcrumb bm">
      <li><a href="{{ url_for('lbtc_index') }}">首页</a></li>
      <li>余额TOP100 </li> 
    </ol>
  </div>

  <div class="row">
    <div class="wrapper col-6" style="width:500px; height: 250px; float:left;">
      <canvas id="address_stats" ></canvas>
    </div>
    <div class="wrapper col-6"  style="width:500px; height: 250px; float:right;">
      <canvas id="balance_stats"></canvas>
    </div>
  </div>

  
  <div class="row">
    <div class="col-xs-12" style="padding-left: 10; padding-right: 0px;">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="panel-heading-title">
              余额TOP100
            </div>
          </div>
        </div>
        
        <div class="panel-body">
          <table class="table">
            <tr>
              <th class="text-center">排名</th>
              <th class="text-center">地址</th>
              <th class="text-center">余额</th>
              <th class="text-center">占比</th>
              <th class="text-center">累计占比</th>
              <th class="text-center">交易数量</th>
              <th class="text-center">第一次交易时间</th>
            </tr>
            {% for _info in balance_info %}
            <tr>
              <td class="text-center" >
                {{ _info["rank"] }}
              </td>
              <td class="text-center">
                <a href="{{ url_for('lbtc_address', address=_info['address']) }}"> {{ _info["address"] }} </a>
              </td>
              <td class="text-center" >
                {{ _info["balance"] }}
              </td>
              <td class="text-center">
                {{ _info["persent"] }}
              </td>
              <td class="text-center">
                {{ _info["sum_persent"] }}
              </td>
              <td class="text-center" >
                {{ _info["tx_num"] }}
              </td>
              <td class="text-center">
                {{ _info["create_time"].replace('T', ' ') }}
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
var ctx = document.getElementById("address_stats");
var transaction_count = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ address_distribution_label|tojson }},
        datasets: [{
            label: 'LBTC地址分布图',
            data: {{ address_stats['count']|tojson }},

            fill: 'start',
            borderColor: "rgba(0,128,255,1)",
            backgroundColor: "rgba(0,128,255,1)",
            borderWidth: 1,
            pointStyle: 'circle',
            pointRadius:1,
        }]
    },
    options: {
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    var multistringText = ['Count: ' + tooltipItems.yLabel]
                    multistringText.push(['Percent: ' + {{ address_stats['percent']|tojson }}[tooltipItems.index]]);
                    return multistringText;
                }
            }
        },

        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: '地址数'
                },
            }],
            xAxes: [{
                type: 'category',
                display: true,
                scaleLabel: {
                    display: true,
                },
            }],
        }
    }
});

var ctx = document.getElementById("balance_stats");
var transaction_count = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ address_distribution_label|tojson }},
        datasets: [{
            label: 'LBTC余额分布图',
            data: {{ balance_stats['count']|tojson }},

            fill: 'start',
            borderColor: "rgba(0,128,255,1)",
            backgroundColor: "rgba(0,128,255,1)",
            borderWidth: 1,
            pointStyle: 'circle',
            pointRadius:1,
        }]
    },
    options: {
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    var multistringText = ['LBTC: ' + tooltipItems.yLabel]
                    multistringText.push(['Percent: ' + {{ balance_stats['percent']|tojson }}[tooltipItems.index]]);
                    return multistringText;
                }
            }
        },
        responsive: true,

        scales: {
            yAxes: [{
                stacked: true,
                scaleLabel: {
                    display: true,
                    labelString: 'LBTC'
                },
            }],
            xAxes: [{
                stacked: true,
                type: 'category',
                display: true,
                scaleLabel: {
                    display: true,
                },
            }],
        }
    }
});


</script>
{% endblock %}
