{% extends "en/base.html" %}

{% block body %}

<div class="container">
  <br>
  <div class="row">
    <ol class="breadcrumb bm">
      <li><a href="{{ url_for('lbtc_index') }}">Home</a></li>
      <li>Block - {{ block_info["height"] }} </li> 
    </ol>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-heading-title">Summary</div>
      </div>
      <div class="panel-body text-center">
        <div class="abstract-inner txAbstract-inner">
          <div class="blockAbstract-section">
            <dl>
              <dt>Height</dt>
              <dd> {{ block_info["height"] }} </dd>
            </dl>
            <dl>
              <dt>Confirmations</dt>
              <dd> {{ block_info["confirmations"] }} </dd>
            </dl>
            <dl>
              <dt>Size</dt>
              <dd> {{ block_info["strippedsize"] }} Bytes </dd>
            </dl>
            
            <dl>
              <dt></dt>
              <dd>&nbsp</dd>
            </dl>
          </div>
          
          <div class="blockAbstract-section">
            <dl>
              <dt>Time</dt>
              <dd> {{ block_info["time"] }} </dd>
            </dl>
            <dl>
              <dt>Tx Count</dt>
              <dd> {{ block_info["transaction_num"] }} </dd>
            </dl>

            <!--
            <dl>
              <dt>Version</dt>
              <dd>{{ block_info["versionHex"] }}</dd>
            </dl>
            <dl>
              <dt>Nonce</dt>
              <dd> {{ block_info["nonce"] }} </dd>
            </dl>
            -->
            
            <dl>
              <dt>Relayed By</dt>
              <dd>
                <a href="{{ url_for('lbtc_address', address=block_info['delegate_address']) }}" > {{ block_info["miner_name"] }}</a>
              </dd>
            </dl>
            <dl>
              <dt></dt>
              <dd>&nbsp</dd>
            </dl>
          </div>

          <div class="blockAbstract-section blockAbstract-section-smallsize">
            <dl>
              <dt>Block Hash</dt>
              <dd>{{ block_info["hash"] }}</dd>
            </dl>
            <dl>
              <dt>Prev Block</dt>
              <dd>
                <a href="{{ url_for('lbtc_block', hash=block_info['previousblockhash']) }}">
                  {{ block_info["previousblockhash"] }}
                </a>
              </dd>
            </dl>
            <dl>
              <dt>Next Block</dt>
              <dd>
                <a href="{{ url_for('lbtc_block', hash=block_info['next_hash']) }}">
                  {{ block_info["next_hash"] }}
                </a>
              </dd>
            </dl>
            <dl>
              <dt>Merkle Root</dt>
              <dd> {{ block_info["merkleroot"] }} </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="panel-heading-title">
            Transaction
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div class="row">
    
          {% for tx_info in block_info["tx_info"] %}
          {% include "en/tx_detail.html" %}
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
