{% extends "en/base.html" %}

{% block body %}


<div class="main-body">
  <div class="container">

    <div class="row">
      <div class="panel panel-bm indexBlockList">
        <div class="panel-heading">
          <div class="panel-heading-title">Latest Blocks</div>
        </div>
        <div class="panel-body">

          <table class="table">
            <tr id="append">
              <th class="text-right">Height</th>
              <th class="text-right">Relayed By</th>
              <th class="text-right">Size(B)</th>
              <th class="text-center">Reward</th>
              <th class="text-right">Time</th>
              <th class="text-center">Block Hash</th>
            </tr>
            {% for block_info in lbtc_info['block_info'] %}
            <tr>
              <td class="text-right" >
                <a href="{{ url_for('lbtc_block', height=block_info['height']) }}"> {{ block_info["height"] }} </a>
              </td>
              <td class="text-right">
                <div class="cell-poolname">
                  <a href="{{ url_for('lbtc_address', address=block_info['delegate_address']) }}" > {{ block_info["miner"] }}</a>
                </div>
              </td>
              <td class="text-right">
                <span data-toggle="tooltip" title="stripped size"> {{ block_info["size"] }}</span>
              </td>
              <td class="text-center indexBlockList-blockAward">
                {{ block_info["award"] }} LBTC
              </td>
              <td class="text-right indexBlockList-blockTimestamp" data-timestamp="1553585645">
                {{ block_info["time"] }}
              </td>
              <td class="text-center indexBlockList-blockhash">
                <a href="{{ url_for('lbtc_block', hash=block_info['hash']) }}">
                  {{ block_info["hash"] }}
                </a>
              </td>
            </tr>
            {% endfor %}            
          </table>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="wrapper col-6" style="width:500px; height: 250px; float:left;">
        <canvas id="transaction_count" ></canvas>
      </div>
      <div class="wrapper col-6"  style="width:500px; height: 250px; float:right;">
        <canvas id="address_count"></canvas>
      </div>
    </div>
    

    
    <div class="row">
      <div class="col-xs-6" style="padding-left: 0; padding-right: 10px;">
        <div class="panel panel-bm indexNetworkStats">
          <div class="panel-heading">
            <div class="panel-heading-corner">
            </div>
            <div class="panel-heading-title"> Nodes Status </div>
          </div>

          <div class="panel-body">
            <div class="pool-panel pool-panel-share">
              <ul data-toggle="tooltip" class="unconfirmed-txs-popover">
                <li>
                  <dl>
                    <dt> Nodes </dt>
                    <dd>
                      <a href="{{ url_for('lbtc_nodes') }}">{{ lbtc_info["delegate_count"] }}</a>
                    </dd>
                  </dl>
                </li>
              </ul>
            
              <div class="panel-heading">
                <div class="panel-heading-title">Nodes Distribution</div>
              </div>
              <div class="panel-body">
                <table class="table">
                  <tr>
                    <th class="text-left">Rank</th>
                    <th class="text-center">Location</th>
                    <th class="text-right">Nodes</th>
                  </tr>
                  {% for distribution_info in lbtc_info['node_distribution'] %}
                  <tr>
                    <td class="text-left" >
                      {{ distribution_info["rank"] }}
                    </td>
                    <td class="text-center">
                      <a href="{{ url_for('lbtc_nodes', type=3, country=distribution_info['country']) }}"> {{ distribution_info["country"] }} </a>
                    </td>
                    <td class="text-right">
                      {{ distribution_info["node_num"] }}
                    </td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="col-xs-6" style="padding-left: 10; padding-right: 0px;">
        <div class="panel panel-bm indexNetworkStats">
          <div class="panel-heading">
            <div class="panel-heading-corner">
            </div>
            <div class="panel-heading-title"> Network Status </div>
          </div>

          <div class="panel-body">
            <div class="pool-panel pool-panel-share">
              
              <ul data-toggle="tooltip" class="unconfirmed-txs-popover">
                <li>
                  <dl>
                    <dt> Total LBTC Amount</dt>
                    <dd>
                      <div>
                        <!--
                        <a href="{{ url_for('lbtc_balance') }}" >
                          <span class="tx-count">{{ lbtc_info["total_amount"] }} LBTC</span>
                        </a>
                        -->
                        {{ lbtc_info["total_amount"] }} LBTC
                      </div>
                    </dd>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt> Unconfirmed Txs Count</dt>
                    <dd class="unconfirmed-tx">
                      <div class="unconfirmed-tx-item">
                        <span class="tx-count">{{ lbtc_info["unconfirmed_tx_num"] }}</span>
                      </div>
                    </dd>
                  </dl>
                </li>

                <li>
                  <dl>
                    <dt>Address Count</dt>
                    <dd>{{ lbtc_info["network_tx_statistics"]["address_num"] }} </dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>Address Growth past 24h</dt>
                    <dd>{{ lbtc_info["network_tx_statistics"]["address_num_24h"] }} </dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>Address Growth past 2 weeks</dt>
                    <dd>{{ lbtc_info["network_tx_statistics"]["address_num_14d"] }} </dd>
                  </dl>
                </li>
              </ul>

              <ul>
                <li>
                  <dl>
                    <dt>24h Tx Speed </dt>
                    <dd>{{ '{0:.2f}'.format(lbtc_info["network_tx_statistics"]["tx_speed_24h"]) }} TPS</dd>
                  </dl>
                </li>
                
                <li>
                  <dl>
                    <dt>24h Tx Count(exclude coinbase)</dt>
                    <dd>{{ lbtc_info["network_tx_statistics"]["tx_num_no_coinbase_24h"] }} </dd>
                  </dl>
                </li>
                <li>
                  <dl>
                    <dt>Average transaction fees past 2 weeks</dt>
                    <dd>{{ '{0:.5f}'.format(lbtc_info["network_tx_statistics"]["avg_fee_14d"]) }} LBTC</dd>
                  </dl>
                </li>
              
                <li>
                  <dl>
                    <dt>Average block size past 2 weeks </dt>
                    <dd>{{ '{0:.2f}'.format(lbtc_info["network_tx_statistics"]["block_size_avg_14d"]) }} Bytes</dd>
                  </dl>
                </li>
              </ul>

            </div>
          </div>

        </div>
      </div>

    </div>
    
  </div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
var ctx = document.getElementById("transaction_count");
var transaction_count = new Chart(ctx, {
    type: 'line',
    data: {
        labels: {{ lbtc_info['tx_daily']['time']|tojson }},
        datasets: [{
            label: 'LBTC Transaction Chart',
            data: {{ lbtc_info['tx_daily']['tx_num']|tojson }},

            fill: 'start',
            borderColor: "rgba(100,149,237,1)",
            backgroundColor: "rgba(176,196,222,0.5)",
            borderWidth: 1,
            pointStyle: 'circle',
            pointRadius:1,
        }]
    },
    options: {
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    var multistringText = ['transaction number: ' + tooltipItems.yLabel]
                    multistringText.push(['exclude coinbase transaction: ' + {{ lbtc_info['tx_daily']['tx_num_no_coinbase']|tojson }}[tooltipItems.index]]);
                    multistringText.push(['block count: ' + {{ lbtc_info['tx_daily']['total_block_count']|tojson }}[tooltipItems.index]]);
                    multistringText.push(['average block size: ' + {{ lbtc_info['tx_daily']['avg_block_size']|tojson }}[tooltipItems.index]]);
                    return multistringText;
                }
            }
        },

        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Transactions per day'
                },
            }],
            xAxes: [{
                type: 'time',
                autoSkip: false,
                time: {
                    //parser: 'YYYY-MM-DD HH:mm:ss',
                    unit: 'month',
                    displayFormats: { month: 'YYYY-MM' },
                },
                
                display: true,
                scaleLabel: {
                    display: true,
                }
            }],
        }
    }
});

var ctx_address = document.getElementById("address_count");
var address_count = new Chart(ctx_address, {
    type: 'line',
    data: {
        labels: {{ lbtc_info['address_daily']['time']|tojson }},
        datasets: [{
            label: 'LBTC Address Growth Chart',
            data: {{ lbtc_info['address_daily']['total_address']|tojson }},

            fill: 'start',
            borderColor: "rgba(100,149,237,1)",
            backgroundColor: "rgba(176,196,222,0.5)",
            borderWidth: 1,
            pointStyle: 'circle',
            pointRadius: 1,
        }]
    },
    options: {
        maintainAspectRatio: false,
        spanGaps: false,
        elements: {
            line: {
                tension: 0.000001,
            }
        },
        tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
                label: function(tooltipItems, data) {
                    var multistringText = ['total address number: ' + tooltipItems.yLabel]
                    multistringText.push(['Daily increase: ' + {{ lbtc_info['address_daily']['increase_address']|tojson }}[tooltipItems.index]]);
                    return multistringText;
                }
            }
        },

        scales: {
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Total address count'
                },
            }],
            xAxes: [{
                type: 'time',
                autoSkip: false,
                time: {
                    //parser: 'YYYY-MM-DD HH:mm:ss',
                    unit: 'month',
                    displayFormats: { month: 'YYYY-MM' },
                },
                
                display: true,
                scaleLabel: {
                    display: true,
                }
            }],
        }
    }
});

</script>
{% endblock %}
