{% extends "en/base.html" %}

{% block body %}

<div class="container">
  <br>
  <div class="row">
    <ol class="breadcrumb bm">
      <li><a href="{{ url_for('lbtc_index') }}">Home</a></li>
      <li>
        <a href="{{ url_for('lbtc_block', height=tx_info['height']) }}" ga-type="block">
          Block - {{ tx_info["height"] }}
        </a>
      </li>
      <li>Transaction {{ tx_info["hash"] }} </li> 
    </ol>
  </div>

  <div class="row">
    <div class="panel panel-bm txAbstract">
      <div class="panel-heading">
        <div class="panel-heading-title">Summary</div>
      </div>
      <div class="panel-body text-center">
        <div class="abstract-inner txAbstract-inner">
          <div class="abstract-section">
            <dl>
              <dt>Height</dt>
              <dd>
                <a href="{{ url_for('lbtc_block', height=tx_info['height']) }}" ga-type="block">{{ tx_info["height"] }}</a>
              </dd>
            </dl>
            <dl>
              <dt>Confirmations </dt>
              <dd>
                {{ tx_info["confirm_num"] }}
              </dd>
            </dl>
            <dl>
              <dt>Time</dt>
              <dd class="-btc-time-localization">
                {{ tx_info["time"] }}
              </dd>
            </dl>
            <dl>
              <dt> Size </dt>
              <dd> {{ tx_info["size"] }}<span class="text-muted"> Bytes</span></dd>
            </dl>
          </div>
          
          <div class="abstract-section">
            <dl>
              <dt>Input</dt>
              <dd> {{ tx_info["lbtc_input"] }} LBTC </dd>
            </dl>
            <dl>
              <dt>Output</dt>
              <dd> {{ tx_info["lbtc_output"] }} LBTC </dd>
            </dl>
            <dl>
              <dt>Fees</dt>
              <dd> {{ tx_info["fee"] }} LBTC </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>

    {% include "en/tx_detail.html" %}
    
  </div>
</div>
{% endblock %}
